* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  padding-top: 70px;
  margin-bottom: 0px;
}

p {
  margin: 0 0 16px;
}

h2 {
  margin: 0;
}

/* .btn {
  position: relative;
  border: 0;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Muli';
  font-size: 14px;
  line-height: 14px;
  background-color: #294d5c;
  cursor: pointer;
  transition: all 0.15s;
}
.btn:hover {
  outline: none;
  background-color: #5f9db8;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
  box-shadow: 0 0 0 2px #404b61, inset 0 0 0 2px #ffffff;
}
.btn:active {
  transform: scale(0.95);
}

.btn + .btn {
  margin-left: 8px;
} */

.main-color {
  background: #2c5364;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #2c5364;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

header #navbarColor01 a {
  transition: 0.3s all ease-in-out;
}

header #navbarColor01 a:hover {
  transform: scale(1.15);
}

.nav1 {
  display: flex;
  justify-content: flex-start;
  width: 45%;
}

.nav2 {
  display: flex;
  justify-content: flex-end;
  width: 45%;
}

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /*height: 65rem;*/
}

@media (max-width: 1199.5px) {
  /* .card {
    height: 600px;
  } */
}
@media (max-width: 991.5px) {
  /* .card {
    height: 550px;
  } */
  .card span {
    font-size: 1.1rem;
  }
  #selectList {
    width: 100% !important;
  }
}

@media (max-width: 525.5px) {
  #content.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .col-lg-4,
  .col-md-6 {
    padding-left: 0;
  }

  #selectList {
    width: 100% !important;
  }
}
